<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYFnaouK2GVTG4O_E_wAWIXvRf4ibjnk0</string>
	<key>GCM_SENDER_ID</key>
	<string>1047239227213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gojobs.app.staging</string>
	<key>PROJECT_ID</key>
	<string>gojobs-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>gojobs-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047239227213:ios:bedf88d175dbaa42d52904</string>
</dict>
</plist>