<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6Sl-1uI4O_bUbnnUNfNOlGCdUgmKgrT4</string>
	<key>GCM_SENDER_ID</key>
	<string>17773055683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gojobs.app.dev</string>
	<key>PROJECT_ID</key>
	<string>gojobs-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>gojobs-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17773055683:ios:c18a48ba5a7f074eb9dc76</string>
</dict>
</plist>